@charset "utf-8";
@import "./reset.css";
@import "./header.css";
@import "./footer.css";

main {
    overflow: hidden;
}

.container {
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
    height: 100%;
}

.container-1 {
    width: min(100% - 30px, 880px);
    margin-inline: auto;
    margin-bottom: 100px;
}

.flexbox {
    display: flex;
}

main h2 {
    font-size: 36px;
    color: var(--btn-color);
}

.center {

    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    height: 600px;
}
