@charset "utf-8";

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    height: 100vh;
    background-color: white;
}

.logo {
    width: 60%;
    max-width: 800px;
    margin-right: 20px;
    height: 100%;
}

h1 {
    color: #005c8d;
}

form {
    width: 300px;
    max-width: 100%;
}

label {
    display: block;
    margin: 10px 0;
    color: #005c8d;
    font-weight: bolder;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 6%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: rgb(241, 238, 238);
}

input::placeholder {
    color: #005c8d;
}

input:focus {
    border-color: #005c8d;

}

button {
    background-color: #005c8d;
    color: white;
    padding: 12px;
    cursor: pointer;
    width: 46%;
    margin-right: 2%;
    border: none;
    border-radius: 4px;
    border: 1px solid #005c8d
}

button:hover {
    background-color: #004170;
    transform: scale(1.1);
}

.error-message {
    color: red;
    margin-top: 3%;
}